.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: -300px;
  }

  
  .dashboard-card {
    background-color: #f8f9fa;
    
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .dashboard-card:hover {
    transform: scale(1.05);
  }
  